# env variables
*.env

# pycache
__pycache__

# macos
*.DS_Store

# cursor
*.cursorrules

# vscode
.vscode

# cache created by user ##
*.txt
# but not the requirements file in the root directory
!requirements.txt

# logs ##
*/Logs/*
!*/Logs/.gitkeep
*.log